section {

    background-size: cover;
    background-position-y: -80px;
    font-size: 16px;
    background-image: url('../home/hinhgd.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    position: relative;


    /* Độ mờ 5px, bạn có thể điều chỉnh giá trị này */
    & .wrapper {

        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        & #thongbao {

            right: 0;
            top: 0;
            right: -500px;
            border: 3px solid black;
            position: fixed;
            padding: 30px;
            border-radius: 5px;
            background-color: rgb(210, 212, 213);
            font-size: 20px;
            width: 300px;
            color: rgb(223, 98, 36);
            -webkit-transition: width 2s;
            /* For Safari 3.1 to 6.0 */
            transition: 0.3s;
            z-index: 1000;
        }

        & #form-login {


            /* Màu nền trắng với độ mờ 0.7 */
            max-width: 400px;
            background: rgba(0, 0, 0, 0.8);
            flex-grow: 1;
            padding: 30px 30px 40px;
            box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
            animation: bouncel3 1.2s;
            border-radius: 10px;

            & .form-heading {
                font-size: 25px;
                color: #f5f5f5;
                text-align: center;
                margin-bottom: 30px;
                animation: bouncel3 1.8s;
            }

            & .form-group {
                border-bottom: 1px solid #fff;
                margin-top: 15px;
                margin-bottom: 20px;
                display: flex;
                animation: bouncel 2s;
                -webkit-appearance: none;

                & .form-input {
                    background: transparent;
                    border: 0;
                    outline: 0;
                    color: #f5f5f5;
                    flex-grow: 1;
                }

                & .form-input::placeholder {
                    color: #f5f5f5;
                }

                & #eye {
                    & i {
                        padding-right: 0;
                        cursor: pointer;
                    }
                }
            }

            & .mm {
                display: flex;
                margin-left: 80px;
                margin-top: 30px;

                & .link-login {
                    color: aliceblue;
                    font-size: 15px;
                    text-decoration: none;
                    border-bottom: 2px solid white;
                    margin-left: 10px;
                }

                & .link-login:hover {
                    border-bottom: 2px solid rgb(249, 66, 0);
                    color: rgb(249, 66, 0);
                }


                & span {
                    color: #f5f5f5;

                }
            }
            @keyframes bouncel3 {
                0% {

                    opacity: 0;
                }

                70% {
                    transform: translateX(-40px);
                    opacity: 0;
                }
            }

            & .form-submit-in {
                background: transparent;
                border: 1px solid #f5f5f5;
                color: #fff;
                width: 100%;
                text-transform: uppercase;
                padding: 6px 10px;
                transition: 0.25s ease-in-out;
                margin-top: 30px;
              
                animation: bouncel3 1.6s;

            }



            & .form-submit-in:hover {
                border: 1px solid #05ff1e;
            }


        }
    }
}