.icon i {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon i:hover {
  transform: scale(1.2);
}

.icon i:active {
  transform: scale (0.9);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  //đổi này sang 100vh full màn hình mỗi loại 23/2
  height: 100vh;
  background-color: rgb(224, 230, 230);
  overflow-y: hidden;

  & .wrapper {
    height: 100%;
    width: 100%;
    display: flex;

    & .section-one {
      width: 5%;
      background-color: rgb(240, 143, 23);

      position: relative;

      & .list-icon {
        flex-direction: column;
        display: flex;
        align-items: center;

        & i {
          font-size: 38px;
          margin-top: 30px;
          margin-bottom: 15px;
          color: white;
        }
      }

      & img {
        // & .btn-avt {
        //     outline: 0;
        //     border: 0;

        //     // transform: translate(-50%, 50);
        //     border-radius: 50px;
        //     width: 50px;
        //     height: 50px;
        // }
        width: 50px;
        height: 50px;
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
        bottom: 5px;
      }
    }

    //doi ten
    & .section-two-mess {
      background-color: white;
      width: 25%;
      border-right: 1px solid black;

      & .bar-search {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 15vh;
        background: #f4f4f4;

        // & input {
        //     border: none;
        //     font-size: 20px;
        //     background-color: rgb(234, 242, 242);
        //     border-radius: 5px;
        //     padding: 5px 0;
        // }

        ///moi
        $primary-color: #e8851c;
        $input-padding: 10px;
        $input-border-radius: 25px;

        input[type="search"] {
          padding: $input-padding;
          border-radius: $input-border-radius;
          border: none;
          background: white;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          width: 70%;
          outline: none;
          transition: box-shadow 0.3s ease;
          color: #333;

          &::placeholder {
            color: #999;
          }

          &:focus {
            box-shadow: 0 0 5px $primary-color;
          }
        }

        & button {
          border: 0;
          background-color: #f4f4f4;

          & i {
            font-size: 25px;
          }
        }

        & button:hover {
          background-color: rgb(207, 205, 202);
          border-radius: 5px;
        }
      }

      & .list-tt {
        scrollbar-width: auto;
        height: 85vh;

        overflow: hidden;
      }
    }

    & .baoquat {
      width: 70%;
      background-color: white;

      & .baoqua {
        display: flex;
        background-color: white;

        & .section-three {
          background-color: white;
          width: 100%;
          height: 100vh;
          transition: 0.2s;

          & .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border-bottom: 1px solid black;
            width: 70%;
            margin-left: 30%;
            height: 10%;
            background: linear-gradient(133deg, #eaaa89 30%, #ffbd82);
            right: 0;
            border-radius: 30px 0 0 30px;

            & .title-tt {
              display: flex;

              & .inf-title {
                padding-left: 10px;

                & .name-title {
                  font-weight: bold;
                  font-size: 20px;
                }
              }
            }

            & .icon {
              font-size: 30px;
              display: flex;
              align-items: center;

              & i {
                margin-right: 10px;
              }
            }
          }

          & .inf-mess {
            overflow-y: scroll;
            scrollbar-width: auto;
            height: 79%;
            scrollbar-color: transparent transparent;
            scroll-behavior: smooth;

            & .mess-you {
              padding-bottom: 18px;
              display: flex;
              padding-left: 5px;
              align-items: center;

              & img {
                height: 100%;
                width: 100%;
              }

              & .inf-you {
                margin-left: 10px;

                & .tt {
                  display: flex;
                  justify-content: start;
                }

                & span:nth-child(1) {
                  font-weight: bold;
                }

                & span:nth-child(2) {
                  margin-left: 5px;
                }

                & .content {
                  box-shadow: 0 0 10px rgb(222, 212, 212);
                  border-radius: 5px;

                  max-width: 400px;
                  position: relative;

                  & p {
                    word-wrap: break-word;
                    max-width: 400px;
                    padding: 8px 0 8px 5px;
                  }
                }
              }
            }

            & .mess-me {
              display: flex;
              padding-right: 5px;
              flex-direction: row-reverse;
              padding-bottom: 18px;
              align-items: center;

              & img {
                height: 100%;
                width: 100%;
              }

              & .inf-you {
                margin-right: 10px;

                & .tt {
                  display: flex;
                  justify-content: end;
                }

                & span:nth-child(1) {
                  font-weight: bold;
                }

                & span:nth-child(2) {
                  margin-left: 5px;
                }

                & .content {
                  box-shadow: 0 0 10px rgb(222, 212, 212);
                  border-radius: 5px;
                  background-color: rgb(35, 144, 239);
                  max-width: 400px;
                  position: relative;

                  & p {
                    word-wrap: break-word;
                    color: white;
                    padding: 8px 0 8px 5px;

                    max-width: 400px;
                  }
                }
              }
            }
          }

          & .soan {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 10%;
            position: relative;

            & .nd {
              width: 75%;

              // & input {
              //     font-size: 20px;
              //     border: 0;
              //     outline: 0;
              //     width: 100%;

              // }

              input {
                font-size: 20px;
                border: 2px solid #ccc;
                margin-left: 5%;
                border-radius: 10px;
                padding: 10px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                transition: border-color 0.3s ease;
                width: 90%;
              }

              input:focus {
                border-color: #e99d49;

                outline: none;
              }
            }

            & .cachthuc {
              width: 25%;
              display: flex;
              align-items: center;
              justify-content: center;

              & i {
                font-size: 25px;
                margin-right: 10px;
              }

              & i:hover {
                color: rgba(248, 184, 64, 0.918);
              }

              & i:nth-child(4) {
                background-color: red;
                border-radius: 50%;
                padding: 10px;
                color: aliceblue;
                border: black 2px solid;

                &.disabled {
                  opacity: 0.5;
                  pointer-events: none;
                }

                &.active {
                  background-color: #999;
                  animation: spin 1s infinite;
                }
              }
            }
          }
        }

        & .section-four {
          background-color: rgb(255, 255, 255);
          width: 0;
          border-left: 1px solid black;
          //moi 10/4
          transition: 0.2s;

          & .section-four-cro {
            scrollbar-width: auto;
            overflow-y: scroll;
            height: 100%;
            display: flex;
            flex-direction: column;

            & .title {
              height: 10%;

              display: flex;
              align-items: center;
              justify-content: center;
              background: #ffbd82;
            }

            & .avt {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            & .inf {
              display: flex;
              justify-content: center;
              align-items: center;

              & p {
                font-weight: bold;
              }

              & i {
                background-color: rgb(237, 233, 233);
                border-radius: 50%;
                padding: 5px;
                margin-left: 10px;
              }
            }

            & .thaotac {
              display: flex;
              justify-content: center;

              & .thaotac-one {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 5px;

                & i {
                  background-color: rgb(237, 233, 233);
                  border-radius: 50%;
                  padding: 5px;
                }
              }
            }

            & .video {
              border-top: 1px solid black;
              margin-top: 20px;

              & .title-video {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                font-weight: bold;

                & i {
                  font-size: 30px;
                }

                & span {
                  padding-left: 10px;
                }
              }

              & .videos {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                & img {
                  padding-left: 10px;
                }
              }

              & .button-videos {
                display: flex;
                align-items: center;
                justify-content: center;

                & .button-video {
                  margin-top: 20px;
                  width: 95%;
                  height: 30px;
                  font-weight: bold;
                }
              }
            }

            & .file {
              border-top: 1px solid black;
              margin-top: 20px;

              & .title-file {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                font-weight: bold;

                & span {
                  padding-left: 10px;
                }
              }
            }

            & .link {
              border-top: 1px solid black;
              margin-top: 20px;

              & .title-link {
                flex-direction: column;
                /* Xếp các phần tử con theo chiều dọc */

                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                font-weight: bold;

                & span {
                  padding-left: 10px;
                }
              }

              & .link-information {
                display: flex;
                align-items: center;

                & i {
                  margin-left: 20px;
                }

                & .url-link {
                  padding: 10px;
                  margin-left: 10px;

                  & .short-link {
                    font-size: 12px;
                    color: rgb(103, 194, 224);
                  }

                  & .long-link {
                    font-size: 14px;
                    height: 10px;
                  }
                }
              }

              & .button-links {
                display: flex;
                align-items: center;
                justify-content: center;

                & .button-link {
                  margin-top: 20px;
                  width: 95%;
                  height: 30px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}
