@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.update-wrapper {


    display: flex;
    width: 100%;



    & .update-section-one {
        display: flex;
        height: 100vh;
        width: 20%;
        flex-direction: column; // Hiển thị các phần tử con dọc
        border-right: 1px solid black;
        align-items: center;



        & .title-section-one {
            display: flex;
            flex-direction: column; // Hiển thị các phần tử con dọc
            width: 100%;
            border-bottom: 1px solid black;
            align-items: center;
            justify-content: center;
        }

        & .list-section-one {
            display: flex;
            flex-direction: column;

            & .delete-account {
                display: inline-block; // Hiển thị phần tử dưới dạng khối để có thể tùy chỉnh định dạng
                padding: 10px; // Thêm padding cho phần tử để tạo ra khoảng trắng xung quanh

                border-radius: 5px; // Bo tròn góc của phần tử
                color: black;
                cursor: pointer; // Đổi con trỏ chuột thành con trỏ bấm

                &:hover {
                    background-color: #ff0000; // Màu nền của phần tử khi hover
                    color: white;
                }

                & a {
                    text-decoration: none; // Loại bỏ gạch chân của liên kết
                    color: #333; // Màu chữ của liên kết
                }
            }

            & .p-update-information {
                display: inline-block; // Hiển thị phần tử dưới dạng khối để có thể tùy chỉnh định dạng
                padding: 10px; // Thêm padding cho phần tử để tạo ra khoảng trắng xung quanh

                border-radius: 5px; // Bo tròn góc của phần tử
                transition: background-color 0.3s; // Hiệu ứng chuyển đổi màu nền trong 0.3s khi hover
                cursor: pointer; // Đổi con trỏ chuột thành con trỏ bấm

                &:hover {
                    background-color: #e0e0e0; // Màu nền của phần tử khi hover
                }

                & a {
                    text-decoration: none; // Loại bỏ gạch chân của liên kết
                    color: #333; // Màu chữ của liên kết
                }
            }

            & .p-update-password {
                display: inline-block; // Hiển thị phần tử dưới dạng khối để có thể tùy chỉnh định dạng
                padding: 10px; // Thêm padding cho phần tử để tạo ra khoảng trắng xung quanh
                color: #007bff;

                border-radius: 5px; // Bo tròn góc của phần tử
                transition: background-color 0.3s; // Hiệu ứng chuyển đổi màu nền trong 0.3s khi hover
                cursor: pointer; // Đổi con trỏ chuột thành con trỏ bấm

                &:hover {
                    background-color: #e0e0e0; // Màu nền của phần tử khi hover
                }

                & a {
                    text-decoration: none; // Loại bỏ gạch chân của liên kết
                    color: #333; // Màu chữ của liên kết
                }
            }
        }
    }


}